<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="247 Seating" />
    <title>Two Factor Authentication - 247 Seating</title>
    <link rel="apple-touch-icon" href="/public/images/ico/apple-icon-76.png" />
    <link rel="shortcut icon" type="image/x-icon" href="/public/images/ico/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700"
      rel="stylesheet"
    />

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/public/vendors/css/vendors.min.css" />
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-extended.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/colors.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/components.css" />
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/public/css/core/menu/menu-types/vertical-content-menu.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/core/colors/palette-gradient.css" />
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/public/css/custom.css" />
    <!-- END: Custom CSS-->
  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->

  <body
    class="vertical-layout vertical-content-menu 1-column   blank-page"
    data-open="click"
    data-menu="vertical-content-menu"
    data-col="1-column"
  >
    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row mb-1"></div>
        <div class="content-body">
          <section class="flexbox-container">
            <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                  <div class="card-header border-0 pb-0">
                    <div class="card-title text-center">
                      <img height="45px" src="/public/images/logo/logo-dark.png" alt="branding logo" />
                    </div>
                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                      <span>Two-factor Authentication</span>
                    </h6>
                  </div>
                  <div class="card-content">
                    <div class="card-body">
                      <form class="form-horizontal" action="/login/2fa" method="POST">
                        <fieldset class="form-group position-relative has-icon-left">
                          <input
                            type="text"
                            class="form-control"
                            name="code"
                            placeholder="Enter your verification code"
                            required autocomplete="one-time-code" autofocus
                          />
                          <div class="form-control-position">
                            <i class="ft-alert-circle"></i>
                          </div>
                        </fieldset>
                        <button type="submit" class="btn btn-outline-primary btn-lg btn-block">
                          Verify  <i class="ft-unlock"></i> 
                        </button>

                        <!-- alert: start -->

                        <% const alert = error.length ? error : success; %> <% const alertClass = error.length ?
                        'alert-warning' : 'alert-success'; %> <% if(typeof alert != "undefined" && alert.length) { %>
                        <div class="alert <%=alertClass%> my-2" role="alert">
                          <%- alert %>
                        </div>
                        <% } %>

                        <!-- alert: end -->
                      </form>
                    </div>
                  </div>
                  <div class="card-footer border-0" id="twoFADetailsDev">
                    <p class="float-sm-left text-dark">The code will expire in: <span class="font-weight-bold"><span id="remaining-time"></span></span></p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- END: Content-->

    <!-- BEGIN: Vendor JS-->
    <script src="/public/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="/public/vendors/js/ui/headroom.min.js"></script>
    <script src="/public/vendors/js/forms/validation/jqBootstrapValidation.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="/public/js/core/app-menu.js"></script>
    <script src="/public/js/core/app.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="/public/js/scripts/forms/form-login-register.js"></script>

    <script>
      // Get the remaining time in seconds from the server
      let remainingTimeInSeconds = '<%= remainingTimeInSeconds %>';

      // Function to update the remaining time every second
      function updateRemainingTime() {
        if (remainingTimeInSeconds > 0) {
          $('#remaining-time').text(remainingTimeInSeconds + ' seconds');
          remainingTimeInSeconds--;
          setTimeout(updateRemainingTime, 1000); // Update every second
        } else {
          $('#remaining-time').text('Code expired');
          $('#twoFADetailsDev').append('<p class="float-sm-right text-center"><a class="text-primary" href="/login/2fa/resend-code" class="card-link">Resend</a></p>'); // Display expired message
        }
      }

      // Call the function to start updating the remaining time
      updateRemainingTime();
    </script>
    <!-- END: Page JS-->

  </body>
  <!-- END: Body-->
</html>
