<!-- BEGIN: ALERT -->
<div
  class="content-body card card-body p-0"
  id="alertDiv"
  style="display: none"
>
  <div class="row">
    <div class="col-12">
      <!-- alert: start -->
      <div
        id="alertBox"
        class="alert m-1 alert-dismissible fade show"
        role="alert"
      >
        <span id="alertMsg"></span>
        <button type="button" class="close pt-1">
          <span onclick="closeAlert()">&times;</span>
        </button>
      </div>
      <!-- alert: end -->
    </div>
  </div>
</div>
<!-- END: ALERT -->
