<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"
/>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="" />
<title>247 Seating</title>
<link rel="apple-touch-icon" href="/public/images/ico/apple-icon-76.png" />
<link
  rel="shortcut icon"
  type="image/x-icon"
  href="/public/images/ico/favicon.ico"
/>
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700"
  rel="stylesheet"
/>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>

<link rel="stylesheet" href="/public/plugins/loaders/palette-loader.css" />
<link rel="stylesheet" href="/public/plugins/loaders/loaders.min.css" />
