<div class="card mx-1 mb-0 pb-0" id="instructionDiv" style="display: none">
  <div class="instruction-container">
    <i class="fas fa-info-circle"></i>
    <span id="instructionText"></span>
  </div>
</div>
