<style>
  .bagde-custom .numOfNotifications {
    font-weight: 600;
    bottom: 0 !important;
  }

  .media {
    width: 100%;
  }
  #superAdminBalanceSpan {
    font-weight: 600;
  }

  #balanceContainerLarge  .nav-link:hover {
    color: #6b6f82 !important;
    font-weight: 400;
    cursor:default;
  }
</style>
<!-- BEGIN: top-menu-->
<nav
  class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-hide-on-scroll navbar-border navbar-shadow navbar-brand-center">
  <div class="navbar-wrapper">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mobile-menu d-md-none mr-auto">
          <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a>
        </li>
        <li class="nav-item text-center">
          <a class="navbar-brand" href="/dashboard">
            <h1 class="font-weight-bold text-primary mt-1">247 Seating</h1>
          </a>
        </li>
        <li class="nav-item d-md-none">
          <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i
              class="la la-ellipsis-v"></i></a>
        </li>
      </ul>
    </div>
    <div class="navbar-container content" <% if(typeof takeover != 'undefined' && takeover) { %>
      style="border-bottom: 3px solid orange" <% } %>>
      <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="nav navbar-nav mr-auto float-left">
          <li class="nav-item d-none d-md-block">
            <a class="nav-link nav-menu-main menu-toggle hidden-xs is-active" href="#"><i class="ft-menu"></i></a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a>
          </li>
          <li class="dropdown nav-item mega-dropdown d-lg-block" style="display: none;" id="balanceContainerLarge">
            <a class="dropdown-toggle nav-link" id="balanceContainerSmall" style="display: none;" href="#"
              data-toggle="dropdown">Balance: <span id="superAdminBalanceSpan"></span></a>
          </li>
        </ul>
        <ul class="nav navbar-nav float-right">
          <li class="dropdown dropdown-notification nav-item" style="display: none;">
            <a class="nav-link nav-link-label" href="#" data-toggle="dropdown">
              <i class="ficon ft-bell"></i>
              <span class="badge badge-pill badge-primary badge-up badge-glow numOfNotifications"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right" id="notifications-list"
              style="display: none;">
              <li class="dropdown-menu-header">
                <h6 class="dropdown-header m-0"><span class="grey darken-2">Notifications</span></h6>
                <span class="notification-tag badge badge-primary bagde-custom float-right m-0" id="bellNumber">
                  <span class="numOfNotifications"> </span>
                  New
                </span>
              </li>
              <li class="scrollable-container media-list w-100" id="notifications-items">

              </li>
              <!-- <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center"
                  href="javascript:void(0)">Read all notifications</a>
              </li> -->
            </ul>
          </li>
          <!-- <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label"    
              href="#" data-toggle="dropdown"><i class="ficon ft-mail"> </i></a>
              <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                  <li class="dropdown-menu-header">
                      <h6 class="dropdown-header m-0"><span class="grey darken-2">Messages</span></h6><span
                          class="notification-tag badge badge-success float-right m-0">4 New</span>
                  </li>
                  <li class="scrollable-container media-list w-100"><a href="javascript:void(0)">
                          <div class="media">
                              <div class="media-left"><span
                                      class="avatar avatar-sm avatar-online rounded-circle"><img
                                          src="/public/images/portrait/small/avatar-s-19.png"
                                          alt="avatar"><i></i></span></div>
                              <div class="media-body">
                                  <h6 class="media-heading">Margaret Govan</h6>
                                  <p class="notification-text font-small-3 text-muted">I like your portfolio,
                                      let's start.</p><small>
                                      <time class="media-meta text-muted"
                                          datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                              </div>
                          </div>
                      </a></li>
                  <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center"
                          href="javascript:void(0)">Read all messages</a></li>
              </ul>
            </li> -->
          <li class="dropdown dropdown-user nav-item">
            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
              <% const user = currentUser || { firstname: 'Name', lastname: 'LastName', image_url: '/public/images/default-profile.png' }; %>
              <% const name = `${user.firstname} ${user.lastname}`; %>
              <% const profileImage = user.image_url ? user.image_url: '/public/images/default-profile.png'; %>
              <span class="mr-1 user-name text-bold-700"><%= name %></span>
              <span class="avatar avatar-online"> <img src="<%= profileImage %>" alt="avatar" /><i></i> </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="/profile/general"><i class="ft-user"></i> Edit Profile</a>
              <!-- <a class="dropdown-item" href="#"><i class="ft-message-square"></i> Chats</a> -->
              <% if(typeof takeover != 'undefined' && takeover) { %>
              <a class="dropdown-item" href="/release"><i class="ft-refresh-ccw"></i> Toggle User</a>
              <% } %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout"><i class="ft-power"></i> Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- END: top-menu-->

<% if( currentUser && currentUser.firstname == 'Super') { %>
<script>
  const isSuper = true;
</script>
<% }  else {%>
<script>
  isSuper = false;
</script>
<% }  %>


<script>
  let isTakeOverEnabled = false;
</script>
<% if (locals.takeover) { %>
  <script>
    isTakeOverEnabled = true;
  </script>
  <% }  else {%>
  <script>
    isTakeOverEnabled = false;
  </script>
  <% }  %>