    /* Mark required boxes that gets an error on validation: */
    .multi-steps .invalid {
        background-color: #ffdddd;
    }

    /* Hide all steps by default: */
    .multi-steps .tab {
        display: none;
    }
    
    .multi-steps .current-tab {
        display: block;
    }

    /* Make circles that indicate the steps of the form: */
    .multi-steps .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

    /* Mark the active step: */
    .multi-steps .step.active {
        opacity: 1;
    }

    /* Mark the steps that are finished and valid: */
    .multi-steps .step.finish {
        background-color: #4CAF50;
    }
