span.cls_002 {
    font-size: 21.1px;
    color: rgb(33, 33, 33);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_002 {
    font-size: 21.1px;
    color: rgb(33, 33, 33);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_003 {
    font-size: 20.1px;
    color: rgb(33, 33, 33);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_003 {
    font-size: 20.1px;
    color: rgb(33, 33, 33);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_004 {
    font-size: 22.1px;
    color: rgb(7, 55, 98);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_004 {
    font-size: 22.1px;
    color: rgb(7, 55, 98);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_005 {
    font-size: 14.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_005 {
    font-size: 16.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_006 {
    font-size: 11.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_006 {
    font-size: 11.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_007 {
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_007 {
    font-size: 12.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_008 {
    font-size: 9px;
    color: rgb(33, 33, 33);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_008 {
    font-size: 11.1px;
    color: rgb(33, 33, 33);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_010 {
    font-size: 8.1px;
    color: rgb(33, 33, 33);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_010 {
    font-size: 8.1px;
    color: rgb(33, 33, 33);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_009 {
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    padding-left: 4px;
    text-decoration: none
}

div.cls_009 {
    font-size: 11.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_011 {
    font-size: 11.1px;
    color: rgb(17, 84, 204);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_011 {
    font-size: 11.1px;
    color: rgb(17, 84, 204);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_012 {
    font-size: 11.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_012 {
    font-size: 11.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_023 {
    font-size: 11.1px;
    color: rgb(33, 33, 33);
    font-weight: normal;
    font-style: normal;
    text-decoration: underline
}

div.cls_023 {
    font-size: 11.1px;
    color: rgb(33, 33, 33);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_013 {
    font-size: 15.1px;
    color: rgb(33, 33, 33);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_013 {
    font-size: 15.1px;
    color: rgb(33, 33, 33);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    z-index: 1;
}

span.cls_014 {
    font-size: 22.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_014 {
    font-size: 22.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_015 {
    font-size: 18.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_015 {
    font-size: 18.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_016 {
    font-size: 17.1px;
    color: rgb(33, 33, 33);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_016 {
    font-size: 17.1px;
    color: rgb(33, 33, 33);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_017 {
    font-size: 16.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_017 {
    font-size: 16.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_018 {
    font-size: 16.1px;
    color: rgb(33, 33, 33);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_018 {
    font-size: 16.1px;
    color: rgb(33, 33, 33);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_019 {
    font-size: 13.6px;
    color: rgb(32, 37, 41);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_019 {
    font-size: 13.6px;
    color: rgb(32, 37, 41);
    font-weight: normal;
    font-style: normal;
    z-index: 11;
    text-decoration: none
}

span.cls_024 {
    font-size: 13.6px;
    color: rgb(17, 84, 204);
    font-weight: normal;
    font-style: normal;
    text-decoration: underline
}

div.cls_024 {
    font-size: 13.6px;
    color: rgb(17, 84, 204);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    z-index: 11;
}

span.cls_020 {
    font-size: 13.6px;
    color: rgb(17, 84, 204);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_020 {
    font-size: 13.6px;
    color: rgb(17, 84, 204);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_021 {
    font-size: 13.1px;
    color: rgb(32, 37, 41);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_021 {
    font-size: 13.1px;
    color: rgb(32, 37, 41);
    font-weight: bold;
    font-style: normal;
    z-index: 11;
    text-decoration: none
}

span.cls_022 {
    font-size: 13.1px;
    color: rgb(32, 37, 41);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_022 {
    font-size: 13.1px;
    color: rgb(32, 37, 41);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_025 {
    font-size: 11.1px;
    color: rgb(17, 84, 204);
    font-weight: normal;
    font-style: normal;
    text-decoration: underline
}

div.cls_025 {
    font-size: 11.1px;
    color: rgb(17, 84, 204);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}